@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #1f1f1f;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.navMenu a {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

/* Add margin or padding to the elements below the navigation bar */
.content {
  margin-top: 80px; /* Adjust the value as needed */
}

.circleBehind a:before,
.circleBehind a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid #0d5024;
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

.circleBehind a:after {
  border-width: 2px;
  transition: all 0.4s;
}

.circleBehind a:hover:before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.circleBehind a:hover:after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.3);
}
