
#short_term_label {
  display: none;
}

#downloadPicButton {
  display: none;
}

#medium_term_label {
  display: none;
}

#long_term_label{
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(0, 0, 0);
  background-color: rgb(189, 46, 46);
}

.nutritionContainer {
  padding: 0px;
  background-color: white; /* Add a background color to ensure the text is visible */
  color: black; /* Set the text color to black */
}

.nutritionContainer2 {
  padding: 0px;
  background-color: white; /* Add a background color to ensure the text is visible */
  color: black; /* Set the text color to black */
}

.nutritionContainer3{
  padding: 0px;
  background-color: white; /* Add a background color to ensure the text is visible */
  color: black; /* Set the text color to black */
}


.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

p,
table,
.date {
  font-family: "receipt", "Courier New", Courier, monospace;
}

td {
  padding: 0 5px;
}

.tracks {
  margin: 5px 0vh;
  color: rgb(0, 0, 0);
}

table {
  border: none;
  max-width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
}

.generatePicButton {
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 1vh 3vh;
  background-color: #1db954;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: auto;
  margin: 20px;
}

.generatePicButtonSection{
  margin: 60px auto 0; 
}

.title {
  color: black;
}

.image {
  width: 250px;
  float: left;
  margin: 20px;
}

.performance-facts {
  border: 3px solid black;
  margin: 20px;
  float: left;
  width: 340px;
  padding: 0.5rem;
}

.performance-facts2 {
  border: 3px solid black;
  margin: 20px;
  float: left;
  width: 420px;
  padding: 0.5rem;
}

.performance-facts3 {
  border: 3px solid black;
  margin: 12px;
  float: left;
  width: 340px;
  padding: 0.5rem;
  
}

.performance-facts__title {
  font-weight: 900;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}

.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.performance-facts__header p {
  margin: 0;
}

.performance-facts__table {
  width: 100%;
}

.performance-facts__table thead tr th,
.performance-facts__table thead tr td {
  border: 0;
}

.performance-facts__table th,
.performance-facts__table td {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  white-space: nowrap;
}

.performance-facts__table td:last-child {
  text-align: right;
}

.performance-facts__table .blank-cell {
  width: 1rem;
  border-top: 0;
}

.performance-facts__table .thick-row th,
.performance-facts__table .thick-row td {
  border-top-width: 5px;
}

.small-info {
  font-size: 0.8rem;
}

.performance-facts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
}

.performance-facts__table--small thead tr {
  border-bottom: 1px solid black;
}

.performance-facts__table--small td:last-child {
  text-align: left;
}

.performance-facts__table--small th,
.performance-facts__table--small td {
  border: 0;
  padding: 0;
}

.performance-facts__table--grid {
  margin: 0 0 0.5rem 0;
}

.performance-facts__table--grid td:last-child {
  text-align: left;
}

.performance-facts__table--grid td:last-child::before {
  content: "•";
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}

.text-center {
  text-align: center;
}

.thick-end {
  border-bottom: 10px solid black;
}

.thin-end {
  border-bottom: 1px solid black;
}

.Total-Word-Count {
  font-size: xx-large;
  font: bold;
}

.serving-size {
  font: bold;
  font: xx-large;
}

.duration {
  text-align: right;
}

.performance-facts__table tr:nth-child(1) th:first-child,
.performance-facts__table tr:nth-child(1) td {
  border-top: none;
}

.duration-cell {
  margin-left: 10px; 
}
.user-name {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.title-line {
  border: none; 
  border-top: 1px solid #000; 
  margin-top: 0px; 
}

.performance-facts__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.25rem; /* Increase the font size to make it bigger */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  width: 100%; /* Make it fill the whole width of the parent element */
}

.performance-facts__table th,
.performance-facts__table td {
  font-family: "Montserrat", sans-serif;
}


body {
  color: rgb(0,0,0); /* Use RGB values for a darker color */
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.container {
  max-width: 900px;
  margin: 100px auto 0; /* Adjust the top margin value to create space below the navigation bar */
  padding: 20px;
  text-align: center;
}


.animated-button,
button.animated-button {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: rgb(24, 23, 23);
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
  width: 400px;
  background: transparent;
}

.animated-button:after,
button.animated-button:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}

.animated-button:hover,
button.animated-button:hover {
	color: #fff;
	text-shadow: none;
}

.animated-button:hover:after,
button.animated-button:hover:after {
	height: 450%;
}

.animated-button.spotify-button,
button.animated-button.spotify-button {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #1db954;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.animated-button.spotify-button:hover,
button.animated-button.spotify-button:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}

.animated-button.spotify-button:hover:before,
button.animated-button.spotify-button:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}

.animated-button.spotify-button:before,
button.animated-button.spotify-button:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #1db954;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}


.home-text{
  color: rgb(209, 206, 206);
  font-size: large;
}

.subtitle{
  font-family:  "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: -20px;
}

.question{
  color: rgb(255, 255, 255) !important; 
}

.answer{
  color: white;
}

.home-center{
  margin: 110px;
}