<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1 class="logo">About Spotify Nutrition</h1>
      <p class="home-text">
        Inspired by @albumreceipts, Spotify Nutrition is
        a tool that presents a user's top 10 most-played tracks from the last
        month, last 6 months, and all time, arranged in a nutrition label-like
        format. 
       </p>
       <h1 class="logo">FAQ</h1>
       <p class="home-text">
        Why isn't Spotify Nutrition working? If you encounter issues
        when attempting to log in with Spotify, it may be due to pop-up blockers
        enabled on your browser or device. Please ensure that pop-ups are
        allowed and try again. Enabling pop-ups in Chrome | Enabling pop-ups in
        Safari (iOS) 
        
        What does the "amount" represent in top artists and genres?
        In the top artists section, the "amount" refers to the popularity of the
        artist, with a scale ranging from 1 (least popular) to 10 (most
        popular). In the top genres section, the "amount" indicates the
        frequency of a genre appearing within your top 50 artists. 
        
        Why doesn't my Spotify Nutrition display top tracks by time period? 
        Currently, the
        Spotify API only provides "Heavy Rotation" data, which encompasses the
        most played tracks, albums, playlists, and more from an unspecified time
        period. While it would be ideal to break down this information by time
        period, unfortunately, there is currently no method to obtain such data.

        My Spotify most-played doesn't seem accurate! How are these stats determined? 
        Receiptify utilizes data directly collected by Spotify to
        determine the top artists for the past month, past 6 months, and all
        time. As the data is updated by Spotify, the exact calculation method is
        unknown. If you notice discrepancies in your recently played data for
        the month, it might be due to a slight time offset in the "past month"
        top track calculations. Alternatively, it's possible that you've been
        listening to certain tracks more frequently than you realized!

        Can you display the number of times a track is played in Spotify Nutrition?
        Unfortunately, the Spotify API does not provide this specific
        information. However, if you have last.fm, you can find track play
        counts in the last.fm version of Spotify Nutrition. My Spotify Nutrition
        isn't functioning! Occasionally, Spotify Nutrition may encounter errors
        during periods of high traffic. If you have already logged in, try
        refreshing the site multiple times until your nutrition label appears.
        If this approach doesn't resolve the issue, you can attempt clearing
        your cookies and site data or use a different device.
        
        Can you create a
        version of Spotify Nutrition for [another music streaming service]? 
        Some music streaming services lack accessible APIs to retrieve user listening
        data. While I strive to support as many services as possible, please
        note that I am a full-time student and may not always be able to
        accommodate such requests, especially during busy periods. How did you
        develop Spotify Nutrition? Spotify Nutrition is an open-source project!
        You can access the source code here. Is there a risk of Spotify stealing
        my data? Rest assured that Spotify does not have access to your data
        through Spotify Nutrition. For detailed information, please review the
        Privacy Policy of Spotify Nutrition.
      </p>
    </div>
  </body>
</html>
