<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1 class="logo">About Spotify Nutrition</h1>
      <p class="home-text">
        Inspired by @albumnutrition, Spotify Nutrition is
        a tool that presents a user's top most listend to words/artists/songs from the last
        month, last 6 months, and all time, arranged in a nutrition label-like
        format. 
       </p>
       <h1 class="logo">FAQ</h1>
       <p class="home-text">
        <h3 class="question">How Does it Work?</h3>
        <p class ="answer">let him cook </p>
      </p>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
