<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ chooseLabel }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=.8">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1 class="logo">Choose Your Spotify Nutrition Label</h1>
      <button class="animated-button spotify-button" onclick="window.location.href='/artistLabel'">
        Top Artists
      </button>
      <button class="animated-button spotify-button" onclick="window.location.href='/songLabel'">
        Top Songs
      </button>
    </div>
  </body>
  {% include 'footer.html' %} 
</html>