<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=.8">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1 class="logo">Contact</h1>
      <p class="home-text">
        Before reaching out, please visit the FAQ section on the
        <a href="/about">about page</a>. 
        For any other inquires, please contact me through dm on
         <a href="https://www.instagram.com/lbraah/">Instagram</a> or
         <a href="https://www.linkedin.com/in/ibrahimkhan-utd/">LinkedIn.</a>
      </p>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
