<!DOCTYPE html>
<html>
<head>
  <title>Footer</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <!-- Your page content here -->
  
  <footer class="footer">
    <p>Made By <a href="https://www.linkedin.com/in/ibrahimkhan-utd/">Ibrahim Khan</a></p> 
  </footer>
  
  <nav class="routing">
    <ul>
        <li><a href="/home"><i class="material-icons">home</i></a></li>
        <li><a href="/about"><i class="material-icons">info</i></a></li>
        <li><a href="/privacy"><i class="material-icons">lock</i></a></li>
        <li><a href="/contact"><i class="material-icons">mail</i></a></li>
        
    </ul>
  </nav>
</body>
</html>
