<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class ="home-center"></div>
        <h1 class="logo">Nutrition Labelify</h1>
        <h2 class="subtitle">Spotify Top Words/Tracks/Artists Generator</h2>
        <a class="animated-button spotify-button" href="/login">
          Login To Spotify
        </a>
     </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
