{% macro nutritionContainer(display_name, songs, id, duration, song_lyrics,
top_words_list) -%}
<div class="nutritionContainer" id="{{ id }}">
  {% if top_words_list %}
  <div class="topWords">
    <section class="performance-facts">
      <header class="performance-facts__header">
        <h1 class="performance-facts__title">Spotify Nutrition</h1>
        <hr class="title-line" />
        <tr class="serving-size">
          <table class="performance-facts__table">

            <tr class="serving-size">

              <th colspan="2">
                <b>Serving Size</b>
              </th>

              <td class="duration-cell">
                <b>{{ duration }}</b>
              </td>

            </tr>
          </table>
        </tr>
      </header>

      <table class="performance-facts__table">
        <tbody>

          <tr class="Total-Word-Count">
            <th colspan="2">
              <b>Words</b>
            </th>

            <td><b>{{ song_lyrics|word_count }}</b></td>
          </tr>
          <tr class="thick-row">
            <td colspan="3" class="small-info">
              * relative word % 
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>{{ top_words_list[0][0] }}</b>&nbsp;&nbsp;&nbsp;{{top_words_list[0][1]}}
            </th>
            <td>
              <b>{{ '%.1f' % (top_words_list[0][1] / song_lyrics|word_count * 100) }}%</b>
            </td>

          </tr>
          <tr>
            <td class="blank-cell"></td>
            <th>{{ top_words_list[1][0] }}&nbsp;&nbsp;&nbsp;{{ top_words_list[1][1]}}</th>
            <td>
              <b>{{ '%.1f' % (top_words_list[1][1] / song_lyrics|word_count * 100) }}%</b>
            </td>
          </tr>
          <tr>
            <td class="blank-cell"></td>
            <th>
              <i>{{ top_words_list[2][0] }}</i>&nbsp;&nbsp;&nbsp;{{ top_words_list[2][1] }}
            </th>
            <td>
              <b>{{ '%.1f' % (top_words_list[2][1] / song_lyrics|word_count * 100) }}%</b>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>{{ top_words_list[3][0] }}</b>&nbsp;&nbsp;&nbsp;{{ top_words_list[3][1] }}
            </th>
            <td>
              <b>{{ '%.1f' % (top_words_list[3][1] / song_lyrics|word_count * 100) }}%</b>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>{{ top_words_list[4][0] }}</b>&nbsp;&nbsp;&nbsp;{{ top_words_list[4][1] }}
            </th>
            <td>
              <b>{{ '%.1f' % (top_words_list[4][1] / song_lyrics|word_count * 100)}}%</b>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>{{ top_words_list[5][0] }}</b>&nbsp;&nbsp;&nbsp;{{  top_words_list[5][1] }}
            </th>
            <td>
              <b>{{ '%.1f'% (top_words_list[5][1] / song_lyrics|word_count * 100) }}%</b>
            </td>
          </tr>
          <tr class="thick-end">
            <th colspan="2">
              <b>{{ top_words_list[6][0] }}</b>&nbsp;&nbsp;&nbsp;{{ top_words_list[6][1] }}
            </th>
            <td><b>{{ '%.1f'% (top_words_list[6][1] / song_lyrics|word_count * 100) }}%</b></td>
          </tr>
        </tbody>
      </table>

      <table class="performance-facts__table">
        <tbody>

          <tr class="thin-end">
            <td colspan="2"> <b>User</b> </td>     <td>{{ display_name }} </td>
          </tr>

          <tr class="thin-end">

            <td colspan="2"><b>Date</b></td>

            <td>

              <script>
                var currentDate = new Date();
                var options = { month: 'short', day: 'numeric', year: 'numeric' };
                var dateString = currentDate.toLocaleDateString(undefined, options);
          
                document.write(dateString);
              </script>
              
            </td>
          </tr>
         
          <tr class="thin-end">
            <td colspan="2"><b>Design by</b></td>        <td>@lbraah</td>
          </tr>
          </tr>
        </tbody>
      </table>
      
      <p class="small-info">
        * Created by Ibrahim Khan and inspired by @albulmnutrition on instagram
      </p> 

      <p class="small-info">
        * SpotifyNutrition.com
      </p>

    </section>
  </div>
  {% endif %}
</div>
{%- endmacro %}
