{% macro nutritionContainer2(display_name, songs, id, duration) -%}
    <div class="nutritionContainer2" id="{{ id }}">
      {% if songs %}
      <div class="topWords">
        <section class="performance-facts2">
          <header class="performance-facts__header">
            <h1 class="performance-facts__title">Spotify Nutrition</h1>
            <hr class="title-line" />
            <tr class="serving-size">
              <table class="performance-facts__table">
    
                <tr class="serving-size">
    
                  <th colspan="2">
                    <b>Serving Size</b>
                  </th>
    
                  <td class="duration-cell">
                    <b>{{ duration }}</b>
                  </td>
    
                </tr>
              </table>
            </tr>
          </header>
    
          <table class="performance-facts__table">
            <tbody>
    
              <tr class="Total-Word-Count">
                <th colspan="2">
                  <b>Songs</b>
                </th>
    
                <td><b>7</b></td>
              </tr>
              <tr class="thick-row">
                <td colspan="3" class="small-info">
                  * song rank % 
                </td>
              </tr>
              <tr>
                <th class = "song-name" colspan="2">
                  <b>{{ (songs[0]['name']) }}</b>&nbsp;&nbsp;-&nbsp;&nbsp;{{ (songs[0]['artists'][0]['name']) }}
                </th>
                <td>
                  <b>1%</b>
                </td>
    
              </tr>
              <tr>
                <td class="blank-cell"></td>
                <th class = "song-name">{{ (songs[1]['name']) }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ (songs[1]['artists'][0]['name']) }}</th>
                <td>
                  <b>2%</b>
                </td>
              </tr>
              <tr>
                <td class="blank-cell"></td>
                <th class = "song-name">
                  <i>{{ (songs[2]['name']) }}</i>&nbsp;&nbsp;-&nbsp;&nbsp;{{ (songs[2]['artists'][0]['name']) }}
                </th>
                <td>
                  <b>3%</b>
                </td>
              </tr>
              <tr>
                <th class = "song-name" colspan="2">
                  <b>{{ (songs[3]['name']) }}</b>&nbsp;&nbsp;-&nbsp;&nbsp;{{ (songs[3]['artists'][0]['name']) }}
                </th>
                <td>
                  <b>4%</b>
                </td>
              </tr>
              <tr>
                <th class = "song-name" colspan="2">
                  <b>{{ (songs[4]['name']) }}</b>&nbsp;&nbsp;-&nbsp;&nbsp;{{ (songs[4]['artists'][0]['name']) }}
                </th>
                <td>
                  <b>5%</b>
                </td>
              </tr>
              <tr>
                <th class = "song-name" colspan="2">
                  <b>{{ (songs[5]['name']) }}</b>&nbsp;&nbsp;-&nbsp;&nbsp;{{ (songs[5]['artists'][0]['name']) }}
                </th>
                <td>
                  <b>6%</b>
                </td>
              </tr>
              <tr class="thick-end">
                <th class = "song-name" colspan="2">
                  <b>{{ (songs[6]['name']) }}</b>&nbsp;&nbsp;-&nbsp;&nbsp;{{ (songs[6]['artists'][0]['name']) }}
                </th>
                <td><b>7%</b></td>
              </tr>
            </tbody>
          </table>
    
          <table class="performance-facts__table">
            <tbody>
    
              <tr class="thin-end">
                <td colspan="2"> <b>User</b> </td>     <td>{{ display_name }} </td>
              </tr>
              
              <tr class="thin-end">
                <td colspan="2"><b>Top Song</b></td> <td> {{ (songs[0]['name']) }} - {{ (songs[0]['artists'][0]['name']) }}</td>
              </tr>

              <tr class="thin-end">
    
                <td colspan="2"><b>Date</b></td>
    
                <td>
    
                  <script>
                    var currentDate = new Date();
                    var options = { month: 'short', day: 'numeric', year: 'numeric' };
                    var dateString = currentDate.toLocaleDateString(undefined, options);
              
                    document.write(dateString);
                  </script>
                  
                </td>
              </tr>
             
        
              
            </tbody>
          </table>

          <p class='small-info'>
            * Your top song, {{ songs[0]['name'] }} by {{ (songs[0]['artists'][0]['name']) }}, has a popularity rating of {{ songs[0]['popularity'] }}/100.
            {% if songs[0]['popularity'] >= 0 and songs[0]['popularity'] <= 20 %}
            It's a hidden gem, loved by a dedicated group of fans.
            {% elif songs[0]['popularity'] >= 21 and songs[0]['popularity'] <= 40 %}
            It's gaining attention and starting to make waves in the music world.
            {% elif songs[0]['popularity'] >= 41 and songs[0]['popularity'] <= 60 %}
            It's getting popular, with a growing number of listeners enjoying its catchy beats.
            {% elif songs[0]['popularity'] >= 61 and songs[0]['popularity'] <= 80 %}
            It's quite popular, loved by many for its unique style and sound.
            {% else %}
            It's a chart-topper, widely recognized and played everywhere.
            {% endif %}
          </p>
          

          
    
          <p class="small-info">
            * Generated With <b class="link">Nutrishify.herokuapp.com</b>
          </p>
    
        </section>
      </div>
      {% endif %}
    </div>
    {%- endmacro %}
    