{% macro nutritionContainer(display_name, songs, id, duration, song_lyrics,
top_words_list) -%}
<div class="nutritionContainer" id="{{ id }}">
  {% if top_words_list %}
  <div class="topWords">
    <section class="performance-facts">
      <header class="performance-facts__header">
        <h1 class="performance-facts__title">Spotify Nutrition</h1>
        <p>{{ user_display_name }}</p>
        <tr class="serving-size">
          <th colspan="2">
            <b>Serving Size</b>
          </th>
            <td>{{ duration }}</td>
        </tr>
      </header>
      <table class="performance-facts__table">
        <tbody>
          <tr class="Total-Word-Count">
            <th colspan="2">
              <b>Words</b>
            </th>
            <td><b>{{ 69420 }}</b></td>
          </tr>
          <tr class="thick-row">
            <td colspan="3" class="small-info">
              <b>* relative word %</b>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>{{ top_words_list[0] }}</b>
              66
            </th>
            <td>
              <b>22%</b>
            </td>
          </tr>
          <tr>
            <td class="blank-cell"></td>
            <th>{{ top_words_list[1] }}</th>
            <td>
              <b>22%</b>
            </td>
          </tr>
          <tr>
            <td class="blank-cell"></td>
            <th>{{ top_words_list[2] }}</th>
            <td></td>
          </tr>
          <tr>
            <th colspan="2">
              <b>{{ top_words_list[3] }}</b>
              55mg
            </th>
            <td>
              <b>18%</b>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>{{ top_words_list[4] }}</b>
              40mg
            </th>
            <td>
              <b>2%</b>
            </td>
          </tr>
          <tr>
            <th colspan="2">
              <b>{{ top_words_list[5] }}</b>
              17g
            </th>
            <td>
              <b>6%</b>
            </td>
          </tr>
          <tr class="thick-end">
            <th colspan="2">
              <b>{{ top_words_list[6] }}</b>
              3g
            </th>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="performance-facts__table--grid">
        <tbody>
          <tr>
            <td colspan="2">Vitamin A 10%</td>
            <td>Vitamin C 0%</td>
          </tr>
          <tr class="thin-end">
            <td colspan="2">Calcium 10%</td>
            <td>Iron 6%</td>
          </tr>
        </tbody>
      </table>

      <p class="small-info">
        * Percent Daily Values are based on a 2,000 calorie diet. Your daily
        values may be higher or lower depending on your calorie needs:
      </p>
    </section>
  </div>
  {% endif %}
</div>
{%- endmacro %}

<!--<ul>
  {% for word in top_words_list %}
  <li>{{ word }}</li>
  {% endfor %}
</ul> -->
