{% macro nutritionContainer3(display_name, artist, id, duration) -%}
    <div class="nutritionContainer3" id="{{ id }}">
      {% if artist %}
      <div class="topWords">
        <section class="performance-facts3">
          <header class="performance-facts__header">
            <h1 class="performance-facts__title">Spotify Nutrition</h1>
            <hr class="title-line" />
            <tr class="serving-size">
              <table class="performance-facts__table">
    
                <tr class="serving-size">
    
                  <th colspan="2">
                    <b>Serving Size</b>
                  </th>
    
                  <td class="duration-cell">
                    <b>{{ duration }}</b>
                  </td>
    
                </tr>
              </table>
            </tr>
          </header>
    
          <table class="performance-facts__table">
            <tbody>
    
              <tr class="Total-Word-Count">
                <th colspan="2">
                  <b>Total Artists</b>
                </th>
    
                <td><b>69</b></td>
              </tr>
              <tr class="thick-row">
                <td colspan="3" class="small-info">
                  * relative listening % 
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>{{ (artist[0]['name']) }}</b>&nbsp;&nbsp;&nbsp;{{bru  }}
                </th>
                <td>
                  <b>1%</b>
                </td>
    
              </tr>
              <tr>
                <td class="blank-cell"></td>
                <th>{{ (artist[1]['name']) }}&nbsp;&nbsp;&nbsp; {{ bru }}</th>
                <td>
                  <b>2%</b>
                </td>
              </tr>
              <tr>
                <td class="blank-cell"></td>
                <th>
                  <i>{{ (artist[2]['name']) }}</i>&nbsp;&nbsp;&nbsp;{{ bru }}
                </th>
                <td>
                  <b>3%</b>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>{{ (artist[3]['name']) }}</b>&nbsp;&nbsp;&nbsp;{{ bru }}
                </th>
                <td>
                  <b>4%</b>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>{{ (artist[4]['name']) }}</b>&nbsp;&nbsp;&nbsp;{{ bru }}
                </th>
                <td>
                  <b>5%</b>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>{{ (artist[5]['name']) }}</b>&nbsp;&nbsp;&nbsp;{{ bru }}
                </th>
                <td>
                  <b>6%</b>
                </td>
              </tr>
              <tr class="thick-end">
                <th colspan="2">
                  <b>{{ (artist[6]['name']) }}</b>&nbsp;&nbsp;&nbsp;{{ bru }}
                </th>
                <td><b>7%</b></td>
              </tr>
            </tbody>
          </table>
    
          <table class="performance-facts__table">
            <tbody>
    
              <tr class="thin-end">
                <td colspan="2"> <b>User</b> </td>     <td>{{ display_name }} </td>
              </tr>
    
              <tr class="thin-end">
    
                <td colspan="2"><b>Date</b></td>
    
                <td>
    
                  <script>
                    var currentDate = new Date();
                    var options = { month: 'short', day: 'numeric', year: 'numeric' };
                    var dateString = currentDate.toLocaleDateString(undefined, options);
              
                    document.write(dateString);
                  </script>
                  
                </td>
              </tr>
             
              <tr class="thin-end">
                <td colspan="2"><b>Design by</b></td>        <td>@lbraah</td>
              </tr>
              </tr>
            </tbody>
          </table>
          
          <p class="small-info">
            * Created by Ibrahim Khan and inspired by @albulmnutrition on instagram
          </p> 
    
          <p class="small-info">
            * SpotifyNutrition.com
          </p>
    
        </section>
      </div>
      {% endif %}
    </div>
    {%- endmacro %}
    